@model StandardPgm.Models.M_User

@section scripts{

    <script type="text/javascript">
        function checkPassword() {
            if ($('#txtPasswordCurrent').val() == $('#txtPasswordLoad').val()) {
                if ($('#Password').val() == "") {
                    $('#txtError').html('Enter new password!!');
                    $('#modalError').modal('show');
                    return false;
                }
                if ($('#Password').val() == $('#txtPasswordConfirm').val()) {
                    $('#txtSuccess').html('Password changed successfully');
                    $('#modalSuccess').modal('show');
                    return true;
                }
                else {
                    $('#txtError').html('Ensure new password is matched!!');
                    $('#modalError').modal('show');
                    console.log($('#Password').val() + "==" + $('#txtPasswordConfirm').val());
                    return false;
                }

            }
            else
            {
                $('#txtError').html('Ensure old password is correct!');
                $('#modalError').modal('show');
                return false;
            }
        }
    </script>
}



@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            @*<div class="box box-info">*@
                <div class="box">

                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div class="form col-md-offset-5">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                        <label>Old Password</label>
                                        <input type="password" class="form-control" id="txtPasswordCurrent">
                                        <input type="hidden" class="form-control" id="txtPasswordLoad" value="@ViewBag.CurrentPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                        <label>New Password</label>
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" class="form-control" id="txtPasswordConfirm">
                                    </div>
                                </div>
                            </div>



                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            @*<a href="../../Home/Main" class="btn btn-warning">Kembali</a>*@
                            <a href="../../Home/index1" class="btn btn-warning">Back</a>
                            @*<div class="pull-right">*@
                            <button type="submit" class="btn btn-success" id="btnSave" onclick="return checkPassword();">Save</button>
                            @*</div>*@
                        </div><!-- /.box-footer -->
                    </div>
                </div><!-- /.box -->
        </div>
    </div>
}
